/* Sub Footer Styles */
.subFooter {
  background-color: #d9dee44d;
  padding: 20px 0;
}

/* Footer Section */
.footer {
  background-color: #626e7b;
  color: #ffffff;
  padding: 10px 0;
  font-size: 14px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.right {
  text-align: right;
  font-size: 14px;
}

.left {
  display: flex;
  gap: 15px;
  font-size: 10px;
}

.link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: #000;
}

.mediumFont {
  font-size: 12px;
}

.smallFont {
  font-size: 10px;
}
/* Mobile Responsiveness */
@media (max-width: 768px) {
  .subFooter .container {
    text-align: center;
  }

  .subFooter .row {
    flex-direction: column;
    gap: 20px;
  }

  .footer .container {
    text-align: center;
  }

  .left {
    justify-content: center;
    margin-top: 10px;
  }

  .right {
    margin-top: 10px;
  }
}
